.hero {
    background-image: url('./../img/translucent-bg.png');
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    padding: 50px var(--container-padding-x) 70px var(--container-padding-x);
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    row-gap: 30px;
}
@media only screen and (max-width: 1280px) {
    .hero__wrapper{
        flex-direction: column;
    }
}
.hero__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
@media only screen and (max-width: 1280px) {
    .hero__info{
        order: 2;
    }
}
.hero__title {
    font-weight: 800;
    font-size: clamp(24px, 5vw, 50px);
    text-align: center;
    color: #000;
    max-width: 830px;
}
.hero__description {
    font-weight: 400;
    font-size: clamp(18px, 3vw, 32px);
    text-align: center;
    color: #000;
    max-width: 1050px;
}
.hero__subtitle {
    font-weight: 600;
    font-size: clamp(18px, 3vw, 32px);
    text-align: center;
    color: #000;
}
.hero__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
@media only screen and (max-width: 1024px) {
    .hero__row{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px) {
    .hero__row{
        grid-template-columns: repeat(1, 1fr);
    }
}
.hero__advantages {
    display: flex;
    min-height: 230px;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.hero__icon {
    height: 122px;
    width: 122px;
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

}
.hero__icon--up{
    background-image: url("./../img/icons/like.svg");
}
.hero__icon--years{
    background-image: url("./../img/icons/award.svg");
}
.hero__icon--safe{
    background-image: url("./../img/icons/privacy.svg");
}
.hero__icon--table{
    background-image: url("./../img/icons/note.svg");
}
.hero__advantages-subtitle {
    font-weight: 600;
    font-size: clamp(14px, 4vw, 24px);
    text-align: center;
    color: #000;
}
.hero__author {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero__name {
    font-weight: 600;
    font-size: clamp(24px, 5vw, 48px);
    text-align: center;
    color: #000;
    white-space: nowrap;
}
.hero__specialization {
    font-weight: 400;
    font-size: clamp(18px, 3vw, 32px);
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}
.hero__photo {
    display: block;
    object-fit: cover;
    height: 100%;
    max-height: 749px;
    border-radius: var(--hero-img-border-radius);
}
@media only screen and (max-width: 1280px) {
    .hero__photo{
        max-width: 80%;
    }
}

