.scroll-lock{
    overflow: hidden;
}
.modal{
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 830px;
    padding: 30px;
    border-radius: 30px;
    background-color: bisque;
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, 50%);
}

.modal-close{
    position: absolute;
    top: 20px;
    right: 25px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: white;
    font-weight: 600;
    font-size: 15px;

    cursor: pointer;
}
@media only screen and (max-width: 460px) {
    .modal-close{
        right: 5px;
        width: 25px;
        height: 25px;
    }
    .modal-close::before,
    .modal-close::after {
        height: 20px;
    }
}

.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #7A655D;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
    background-color: black; /* Изменение цвета при наведении */
}
.modal-title{
    font-size: clamp(1.5rem, 1.0714rem + 2.1429vw, 4rem);
    text-align: center;
    font-weight: 800;
}
.modal-form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#name, #phone-number, #description{
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}
#name, #phone-number{
    height: 50px;
}
#description{
    height: 200px;
    text-align: start;
}